# Virtual environments
venv/
.env/
venv_pdf2ocr/

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# OS metadata
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Program outputs
output/
saida/
*.pdf
*.docx
*.epub
*.html

# IDE files
.vscode/
.idea/
*.swp

# Python build artifacts
build/
dist/
*.egg-info/
*.egg
